@font-face {
  font-weight: normal;
  font-family: "Computer Modern Bright Semibold";
  font-style: normal;
  src: url("cmunbsr.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Computer Modern Bright Semibold";
  font-style: italic;
  src: url("cmunbso.woff") format("woff");
}
