@font-face {
  font-weight: normal;
  font-family: "Computer Modern Bright";
  font-style: normal;
  src: url("cmunbmr.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Computer Modern Bright";
  font-style: normal;
  src: url("cmunbbx.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Computer Modern Bright";
  font-style: italic;
  src: url("cmunbmo.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Computer Modern Bright";
  font-style: italic;
  src: url("cmunbxo.woff") format("woff");
}
