@font-face {
  font-weight: normal;
  font-family: "TeX Gyre Pagella";
  font-style: normal;
  src: url("pagella-regular.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "TeX Gyre Pagella";
  font-style: italic;
  src: url("pagella-italic.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "TeX Gyre Pagella";
  font-style: normal;
  src: url("pagella-bold.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "TeX Gyre Pagella";
  font-style: italic;
  src: url("pagella-bolditalic.woff2") format("woff2");
}
