/* Dark theme */
@media screen {
  :root {
    --header-color: #ddd;
    --secondary-color: #ccc;
    --subtitle-color: #bbb;
    --body-color: hsl(201deg, 8%, 12%);
    --page-container-color: hsl(201deg, 8%, 15%);
    --item-color: hsl(201deg, 8%, 18%);
    --button-3d-shadow: hsl(0deg, 0%, 0%, 20%);
    --main-button-color: hsl(189deg, 39%, 43%);
    --main-active-button-color: hsl(189deg, 39%, 52%);
    --main-button-focus-color: hsl(189deg, 39%, 70%);
    --secondary-button-color: hsl(183deg, 39%, 43%);
    --secondary-active-button-color: hsl(183deg, 39%, 52%);
    --secondary-button-focus-color: hsl(183deg, 39%, 70%);
    --input-button-color: hsl(177deg, 39%, 43%);
    --input-button-focus-color: hsl(177deg, 39%, 70%);
    --input-focus-color: hsl(201deg, 5%, 33%);
    --placeholder-color: hsl(0deg, 0%, 100%, 50%);
    --input-slider-color: hsl(201deg, 5%, 31%);
    --input-accent-color: hsl(210deg, 70%, 62%);
    --input-handle-color: hsl(210deg, 35%, 45%);
    --error-color: hsl(0deg, 75%, 70%);
    --section-color: hsl(163deg, 42%, 45%);
    --link-color: hsl(210deg, 86%, 75%);
  }

  body,
  .input-field {
    color: #ddd;
  }

  .tagify {
    --placeholder-color: rgb(255, 255, 255, 0.5);
    --placeholder-color-focus: rgb(255, 255, 255, 0.3);
    --tag-bg: #bbb;
    --tag-hover: #abb;
    --tag-text-color--edit: #ddd;
  }

  .tagify__input::before,
  .tagify__input::after {
    color: var(--placeholder-color-focus);
    opacity: 1;
  }

  .tagify__dropdown__wrapper {
    --tagify-dd-bg-color: hsl(201deg, 8%, 20%);
    --tagify-dd-color-primary: hsl(210deg, 41%, 44%);
  }

  .input-field {
    background: var(--item-color);
  }

  img.latex,
  img.latexcenter {
    filter: invert(1) hue-rotate(180deg);
  }

  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    cursor: default;
  }
  ::-webkit-scrollbar-button {
    background-color: hsl(201deg, 5%, 40%);
  }
  ::-webkit-scrollbar-track {
    background-color: hsl(201deg, 5%, 39%);
  }
  ::-webkit-scrollbar-track-piece {
    background-color: hsl(201deg, 5%, 27%);
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(201deg, 5%, 40%);
  }
  ::-webkit-scrollbar-corner {
    background-color: hsl(201deg, 5%, 39%);
  }
  ::-webkit-resizer {
    background-color: hsl(201deg, 5%, 40%);
  }

  .CtxtMenu_InfoContent::-webkit-scrollbar {
    all: unset;
  }
  .CtxtMenu_InfoContent::-webkit-scrollbar-button {
    background-color: initial;
  }
  .CtxtMenu_InfoContent::-webkit-scrollbar-track {
    background-color: initial;
  }
  .CtxtMenu_InfoContent::-webkit-scrollbar-track-piece {
    background-color: initial;
  }
  .CtxtMenu_InfoContent::-webkit-scrollbar-thumb {
    background-color: initial;
  }
  .CtxtMenu_InfoContent::-webkit-scrollbar-corner {
    background-color: initial;
  }
  .CtxtMenu_InfoContent::-webkit-resizer {
    background-color: initial;
  }
} /**/
