/* Variables */
:root {
  --header-color: #222;
  --secondary-color: #333;
  --subtitle-color: #444;
  --page-container-box-shadow: 0 5px 20px rgb(0, 10, 26, 0.2);
  --main-button-color: #449faf;
  --main-active-button-color: #61b3c2;
  --main-button-focus-color: #a3d3db;
  --main-box-shadow: 0 2px 10px rgb(0, 10, 26, 0.2);
  --main-button-focus-box-shadow: 0 4px 10px rgb(0, 10, 26, 0.2);
  --input-button-color: #44afaa;
  --input-button-focus-color: #a3dbd8;
  --input-field-focus-color: #ccc;
  --input-box-shadow: 0 2px 5px rgb(0, 10, 26, 0.2);
  --input-hover-box-shadow: 0 3px 5px rgb(0, 10, 26, 0.2);
  --button-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  --main-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  --vertical-item-spacing: 0.5rem;
  --horizontal-item-spacing: 0.6rem;
} /**/

/* Container styles and sizing */
html {
  overflow-y: scroll;
}

body {
  font-size: 1.1rem;
  font-family: "Computer Modern Sans";
  background: #f3f3f3;
}

.page-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1300px;
  min-height: 100vh;
  margin: auto;
  padding: 0 5rem;
  background: #fcfcfc;
  box-shadow: var(--page-container-box-shadow);
} /**/

/* Main header */
.header {
  margin-bottom: 0;
  color: var(--header-color);
  font: bold 2em "Computer Modern Bright";
}

.subtitle {
  margin-top: 0;
  color: var(--subtitle-color);
  font: italic 1.5em "Computer Modern Bright";
} /**/

/* Big top buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.button {
  width: 32%;
  padding: 0.7rem 0.6rem 0.5rem;
  color: white;
  font: bold 1.1em "Computer Modern Bright";
  text-shadow: var(--button-text-shadow);
  background: var(--main-button-color);
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
  box-shadow: var(--main-box-shadow);
  transition: all 0.1s;
}

.button:hover {
  box-shadow: var(--main-button-focus-box-shadow);
  transform: translateY(-2px);
  cursor: pointer;
}

.button:focus {
  outline: 2px solid var(--main-button-focus-color);
}

.button-active {
  background: var(--main-active-button-color);
} /**/

/* Input buttons */
.input-button {
  height: 1.9em;
  margin-left: var(--horizontal-item-spacing);
  padding: 0.3rem var(--horizontal-item-spacing);
  color: white;
  font: bold 1em "Computer Modern Bright";
  text-shadow: var(--button-text-shadow);
  background: var(--input-button-color);
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
  box-shadow: var(--input-box-shadow);
  transition: all 0.1s;
}

.input-button:hover {
  box-shadow: var(--input-hover-box-shadow);
  transform: translateY(-1px);
  cursor: pointer;
}

.input-button:focus {
  outline: 2px solid var(--input-button-focus-color);
} /**/

/* Problem options input */
.options-input-container {
  margin-bottom: 2rem;
}

.options-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input-multi {
  flex: 1 0 28%;
}

.input-multi:first-of-type {
  margin-right: var(--horizontal-item-spacing);
}

.input-label {
  margin-right: var(--horizontal-item-spacing);
}

.range-container {
  flex: 1 0 45%;
}

#random-button {
  margin-left: 0;
}

#ranbatch-button {
  width: 100%;
  margin-left: auto;
}

.range-container:first-of-type:not(.top-checkbox-container) {
  margin-right: var(--horizontal-item-spacing);
} /**/

/* Direct input field */
.input-field {
  flex: 1 0 30%;
  min-width: 0;
  padding: 0.3em 0.6em;
  font: 1em "Computer Modern Sans";
  border: none;
  box-shadow: var(--input-box-shadow);
}

.input-field:focus {
  outline: 2px solid #ccc;
  outline-offset: 0;
}

input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

.input-field.input-field-single:not(:nth-last-child(2)) {
  margin-right: var(--horizontal-item-spacing);
}

.input-singletest {
  flex: 1 0 30%;
}

#input-singleyear {
  flex: 1 0 5%;
}

#input-singlenum {
  flex: 1 0 5%;
} /**/

/* Tagify */
.tagify {
  display: flex;
  flex-wrap: nowrap;
  max-height: 55px;
  margin-bottom: var(--vertical-item-spacing);
  overflow-x: scroll;
  background: white;
  border: none;
  box-shadow: var(--input-box-shadow);
}

.tagify.tagify--focus {
  outline: 2px solid #ccc;
}

tags > tag,
tags > span {
  flex: 0 0 auto;
}

.tagify.input-field {
  margin-bottom: 0;
  padding: 0;
  overflow-x: hidden;
}

.tagify__input {
  margin: 3px;
  padding: 2px 10px;
}

.tagify__tag {
  margin: 3px 0 3px 3px;
}

.tagify__tag > div {
  padding: calc(0.3em - 1px) 0.5em;
}

.tagify:not(.tagify--focus) .tagify__tag + .tagify__input {
  min-width: 0;
}

.tagify:not(.tagify--focus) .tagify__tag + .tagify__input::before {
  display: none;
} /**/

/* Range slider thingy */
.irs {
  font-family: "Computer Modern Bright";
}

.range-container {
  align-self: stretch;
  box-sizing: border-box;
  margin-bottom: var(--vertical-item-spacing);
  padding: 5px;
  background: white;
  box-shadow: var(--input-box-shadow);
}

.range-container:focus {
  outline: 2px solid #ccc;
}

.bottom-container {
  margin-bottom: 0;
}

.irs--flat .irs-line {
  border-radius: 0 !important;
}

.irs--flat .irs-bar,
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  background: #6ae;
}

.irs--flat .irs-min,
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to,
.irs--flat .irs-max {
  padding-top: 2px;
  font-size: 12px;
}

.irs-grid-text {
  font-size: 11px;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background: #4d80b3;
}

.irs--flat .irs-from::before,
.irs--flat .irs-single::before,
.irs--flat .irs-to::before {
  border-top-color: #6ae;
} /**/

/* Checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-right: var(--horizontal-item-spacing);
}

.checkbox-wrap {
  margin-right: var(--horizontal-item-spacing);
}

.checkbox-label {
  margin-bottom: 0;
  color: var(--secondary-color);
}

.top-checkbox-container {
  margin: 0 0 0 var(--vertical-item-spacing);
} /**/

/* Notes */
#notes-header {
  position: relative;
}

#notes-header::after {
  position: absolute;
  right: 1rem;
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  border-color: var(--header-color);
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-radius: 2px;
  transform: rotate(135deg);
  content: "";
}

.notes-collapsed #notes-text {
  display: none;
}

.notes-collapsed #notes-header::after {
  top: 5px;
  transform: rotate(-45deg);
} /**/

/* Problem sections */
.section-header {
  margin: -0.5rem -2rem 0;
  padding: 0.6rem 1rem 0.3rem;
  color: white;
  font-family: "Computer Modern Bright";
  text-shadow: var(--main-text-shadow);
  background: #4b9;
}

.problem-section {
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem;
  background: white;
  box-shadow: var(--main-box-shadow);
}

#solutions-section {
  break-before: page;
}

#solutions-header {
  position: relative;
}

#solutions-header::after {
  position: absolute;
  top: calc(50% - 7px);
  right: 14px;
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  border-color: white;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-radius: 2px;
  transform: rotate(135deg);
  content: "";
}

.section-collapsed #solutions-text {
  display: none;
}

.section-collapsed #solutions-header::after {
  top: calc(50% - 2px);
  transform: rotate(-45deg);
} /**/

/* In-article or inline styling */
.serif-text {
  font-size: 1.05em;
  font-family: "Computer Modern Serif";
}

a {
  color: #28e;
  text-decoration: none;
}

a.new {
  color: #d33; /* redlinks */
}

a.aops-link {
  display: block;
  margin-top: 1em;
  font-style: italic;
}

a.dark-link {
  color: inherit;
  font-weight: bold;
  font-size: 0.8em;
  font-family: "Computer Modern Bright Semibold";
  text-transform: uppercase;
}

.source-link {
  font-weight: normal;
}

.article-text h2,
h3 {
  font-size: 1em;
  font-family: "Computer Modern Bright";
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.batch-solutions-text h2,
.batch-solutions-text h3 {
  letter-spacing: initial;
  text-transform: initial;
}

.article-text .problem-heading {
  font-size: 1.1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid #aaa;
}

.article-problem {
  break-inside: avoid;
}

.article-text dl, /* redirect disclaimers etc */
.article-text .toc,
.article-text .mw-editsection,
.article-text p:empty,
.article-text p > br:only-child {
  display: none;
}

img.latex,
img.latexcenter {
  max-width: 100%;
  height: auto;
}

.article-text > *:last-child {
  margin-bottom: 1em;
}

.error {
  color: #d33;
}

main {
  flex: 1 0 auto;
  min-height: auto;
}

footer {
  padding-bottom: 1em;
  color: var(--secondary-color);
  font-style: italic;
} /**/

/* Loading bar */
.loading-notice {
  display: flex;
  margin: 1rem 0 var(--vertical-item-spacing);
}

.loading-bar-container {
  flex: 1;
  box-sizing: border-box;
  height: 1.2em;
  margin-left: 0.6rem;
  padding: 2px;
  border: 2px solid #e1e4e9;
  border-radius: 0.3rem;
}

.loading-bar {
  width: 0%;
  height: 100%;
  background: #6ae;
  border-radius: 0.2rem;
  transition: width 0.1s linear;
} /**/

/* Breakpoint layouts */
@media (max-width: 1500px) {
  .page-container {
    width: 1200px;
  }
  #ranbatch-label {
    flex: 1 0 22%;
  }
}

@media (max-width: 1350px) {
  .page-container {
    width: 1125px;
  }

  #ranbatch-label {
    flex: 1 0 15%;
  }
}

@media (max-width: 1200px) {
  .page-container {
    width: 1000px;
  }

  #random-label {
    flex: 1 0 19%;
  }

  #ranbatch-label {
    flex: 1 0 100%;
    margin-right: auto;
    margin-bottom: var(--vertical-item-spacing);
  }
}

@media (max-width: 1100px) {
  .page-container {
    width: 950px;
  }

  #random-label,
  .input-label {
    flex: 1 0 100%;
    margin-right: auto;
    margin-bottom: var(--vertical-item-spacing);
  }
}

@media (max-width: 1050px) {
  .page-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .page-container {
    width: 100%;
    padding: 0 1rem;
  }

  .button-container {
    flex-wrap: wrap;
  }

  .button {
    flex: 1 0 100%;
    margin-bottom: 0.75rem;
  }

  .tagify:not(.input-field),
  .range-container:not(.bottom-container) {
    flex: 1 0 100%;
  }

  .tagify:not(.input-field) {
    flex-wrap: wrap;
    max-height: initial;
  }

  .range-container:first-of-type {
    margin-right: 0;
  }

  .top-checkbox-container {
    margin-top: var(--horizontal-item-spacing);
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  #single-button {
    flex: 1 0 100%;
    margin-top: var(--vertical-item-spacing);
    margin-left: 0;
  }
} /**/

/* Print styling */
@media print {
  body {
    font-size: 11.5pt;
  }

  img.latex {
    transform: scale(0.9);
  }

  .header,
  .subtitle,
  .button-container,
  .options-input-container,
  .notes,
  .error,
  a.aops-link,
  .section-collapsed,
  #solutions-header::after,
  .noprint,
  footer {
    display: none;
  }

  body,
  .page-container {
    background: none;
  }

  .section-header {
    color: inherit;
    font-size: 2rem;
    font-family: "Computer Modern Sans Demi-Condensed";
    font-style: italic;
    text-shadow: none;
    background: none;
  }

  .page-container,
  .problem-section {
    box-shadow: none;
  }

  a {
    color: inherit;
  }
} /**/
