/* Variables */
:root {
  --text-color: #222;
  --header-color: #222;
  --secondary-color: #333;
  --subtitle-color: #444;
  --hr-color: #aaa;
  --body-color: #f3f3f3;
  --page-container-color: #fcfcfc;
  --page-container-box-shadow: 0 5px 20px hsl(217deg, 100%, 5%, 20%);
  --item-color: white;
  --button-3d-shadow: hsl(0deg, 0%, 0%, 10%);
  --main-button-color: hsl(189deg, 44%, 48%);
  --main-active-button-color: hsl(189deg, 44%, 57%);
  --main-button-focus-color: hsl(189deg, 44%, 75%);
  --main-box-shadow: 0 2px 10px hsl(217deg, 100%, 5%, 20%);
  --main-button-focus-box-shadow: 0 4px 10px hsl(217deg, 100%, 5%, 20%);
  --secondary-button-color: hsl(183deg, 44%, 48%);
  --secondary-active-button-color: hsl(183deg, 44%, 57%);
  --secondary-button-focus-color: hsl(183deg, 44%, 75%);
  --input-button-color: hsl(177deg, 44%, 48%);
  --input-button-focus-color: hsl(177deg, 44%, 75%);
  --input-focus-color: #ccc;
  --input-box-shadow: 0 2px 5px hsl(217deg, 100%, 5%, 20%);
  --input-hover-box-shadow: 0 3px 5px hsl(217deg, 100%, 5%, 20%);
  --button-text-shadow: 0 1px 2px hsl(0deg, 0%, 0%, 40%);
  --main-text-shadow: 0 2px 3px hsl(0deg, 0%, 0%, 40%);
  --placeholder-color: hsl(0deg, 0%, 0%, 40%);
  --input-slider-color: hsl(217deg, 15%, 90%);
  --input-accent-color: hsl(210deg, 80%, 67%);
  --input-handle-color: hsl(210deg, 40%, 50%);
  --error-color: hsl(0deg, 80%, 50%);
  --section-color: hsl(163deg, 47%, 50%);
  --link-color: hsl(210deg, 86%, 53%);
  --vertical-item-spacing: 0.5rem;
  --horizontal-item-spacing: 0.6rem;
} /**/

/* Container styles and sizing */
html {
  overflow-y: scroll;
}

body {
  color: var(--text-color);
  font: 1.1rem "Computer Modern Sans";
  background: var(--body-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1300px;
  min-height: 100vh;
  margin: auto;
  padding: 0 5rem;
  background: var(--page-container-color);
  box-shadow: var(--page-container-box-shadow);
} /**/

/* Main header */
.header {
  margin-bottom: 0;
  color: var(--header-color);
  font: bold 2em "Computer Modern Bright";
}

.logo {
  position: relative;
  top: 1px;
}

.subtitle {
  margin-top: 0;
  color: var(--subtitle-color);
  font: italic 1.5em "Computer Modern Bright";
} /**/

/* Big top buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.button {
  flex: 1;
  margin: 0 1%;
  padding: 0.7rem 0.6rem 0.5rem;
  color: white;
  font: bold 1.1em "Computer Modern Bright";
  text-shadow: var(--button-text-shadow);
  background: var(--main-button-color);
  border: none;
  border-bottom: 3px solid var(--button-3d-shadow);
  box-shadow: var(--main-box-shadow);
  transition: all 0.1s;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  box-shadow: var(--main-button-focus-box-shadow);
  transform: translateY(-2px);
  cursor: pointer;
}

.button:focus {
  outline: 2px solid var(--main-button-focus-color);
}

.button-active {
  background: var(--main-active-button-color);
} /**/

/* Secondary buttons */
.secondary-button {
  padding: 0.5rem 0.6rem 0.4rem;
  font-size: 1em;
  background: var(--secondary-button-color);
}

.secondary-button:focus {
  outline: 2px solid var(--secondary-button-focus-color);
}

.secondary-button-active {
  background: var(--secondary-active-button-color);
} /**/

/* Input buttons */
.input-button {
  height: 1.9em;
  margin-left: var(--horizontal-item-spacing);
  padding: 0.3rem var(--horizontal-item-spacing);
  color: white;
  font: bold 1em "Computer Modern Bright";
  text-shadow: var(--button-text-shadow);
  background: var(--input-button-color);
  border: none;
  border-bottom: 3px solid var(--button-3d-shadow);
  box-shadow: var(--input-box-shadow);
  transition: all 0.1s;
}

.input-button:hover {
  box-shadow: var(--input-hover-box-shadow);
  transform: translateY(-1px);
  cursor: pointer;
}

.input-button:focus {
  outline: 2px solid var(--input-button-focus-color);
}

.input-button-full {
  width: 100%;
  margin-left: auto;
} /**/

/* Problem options input */
.options-input {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
} /**/

/* Input containers */
.input-container {
  flex: 1 0 45%;
  box-sizing: border-box;
  margin-bottom: var(--vertical-item-spacing);
  padding: 5px;
  background: var(--item-color);
  box-shadow: var(--input-box-shadow);
}

.input-container:focus {
  outline: 2px solid var(--input-focus-color);
}

.input-container-bottom {
  margin-bottom: 0;
}

.input-container-left {
  margin-right: var(--horizontal-item-spacing);
}

.input-field-top {
  margin-right: var(--horizontal-item-spacing);
  margin-bottom: var(--vertical-item-spacing);
} /**/

/* Direct input field */
.input-field {
  flex: 1 0 30%;
  min-width: 0;
  padding: 0.3em 0.6em;
  font: 1em "Computer Modern Sans";
  border: none;
  box-shadow: var(--input-box-shadow);
  -webkit-appearance: none;
}

.input-field:focus {
  outline: 2px solid var(--input-focus-color);
  outline-offset: 0;
}

input::placeholder {
  color: var(--placeholder-color);
}

.input-field.input-field-single:not(:nth-last-child(2)),
.input-field-left {
  margin-right: var(--horizontal-item-spacing);
}

.input-singletest {
  flex: 1 0 30%;
}

#input-singleyear,
#input-singlenum {
  flex: 1 0 5%;
}

#input-name,
#input-break {
  flex: 1 0 20%;
} /**/

/* Tagify */
.tagify {
  display: flex;
  flex-wrap: nowrap;
  max-height: 55px;
  margin-bottom: var(--vertical-item-spacing);
  overflow-x: scroll;
  background: var(--item-color);
  border: none;
  box-shadow: var(--input-box-shadow);
  transition: none;
}

.tagify.tagify--focus {
  outline: 2px solid var(--input-focus-color);
}

tags > tag,
tags > span {
  flex: 0 0 auto;
}

.tagify.input-field {
  margin-bottom: 0;
  padding: 0;
  overflow-x: auto;
}

.tagify__input {
  margin: 5px;
  padding: 2px 10px;
}

.input-field .tagify__input {
  margin: 3px;
}

.tagify__input:empty::before {
  transition: none;
}

.tagify__tag {
  margin: 3px 0 3px 3px;
}

.input-field .tagify__tag > div {
  padding: calc(0.3em - 3px) 0.5em;
}

.tagify:not(.tagify--focus) .tagify__tag + .tagify__input {
  min-width: 0;
}

.tagify:not(.tagify--focus) .tagify__tag + .tagify__input::before {
  display: none;
}

.input-multi {
  flex: 1 0 28%;
}

.input-multi-left {
  margin-right: var(--horizontal-item-spacing);
} /**/

/* Range slider thingy */
.irs {
  font-family: "Computer Modern Bright";
}

.irs--flat .irs-line {
  background: var(--input-slider-color);
  border-radius: 0 !important;
}

.irs--flat .irs-bar--single {
  border-radius: 0;
}

.irs--flat .irs-bar,
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  background: var(--input-accent-color);
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  color: var(--placeholder-color);
  background: var(--input-slider-color);
}

.irs--flat .irs-min,
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to,
.irs--flat .irs-max {
  padding-top: 2px;
  font-size: 12px;
}

.js-irs-2 .irs-grid {
  /* basically a bad nth-child selector */
  left: 0.66% !important;
}

.irs-grid-text {
  font-size: 11px;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background: var(--input-handle-color);
}

.irs--flat .irs-from::before,
.irs--flat .irs-single::before,
.irs--flat .irs-to::before {
  border-top-color: var(--input-accent-color);
}

.range-label {
  display: block;
  width: 100%;
  margin: 0;
  color: var(--placeholder-color);
  text-align: center;
} /**/

/* Checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.checkbox-container-small {
  flex: 25%;
}

.checkbox-wrap {
  margin-right: var(--horizontal-item-spacing);
}

.checkbox-label {
  margin-bottom: 0;
  color: var(--secondary-color);
} /**/

/* Notes */
#notes-header {
  position: relative;
}

#notes-header::after {
  position: absolute;
  top: 5px;
  right: 1rem;
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  border-color: var(--header-color);
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-radius: 2px;
  transform: rotate(-45deg);
  content: "";
}

.notes-collapsed #notes-text {
  display: none;
}

.notes-collapsed #notes-header::after {
  top: 0;
  transform: rotate(135deg);
}

.trivial-logo {
  display: none;
} /**/

/* Problem sections */
.section-header {
  margin: -0.5rem -2rem 0;
  padding: 0.6rem 1rem 0.3rem;
  color: white;
  font-family: "Computer Modern Bright";
  text-shadow: var(--main-text-shadow);
  background: var(--section-color);
}

.problem-section {
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem;
  background: var(--item-color);
  box-shadow: var(--main-box-shadow);
}

#solutions-section {
  break-before: page;
}

#solutions-header {
  position: relative;
}

#solutions-header::after {
  position: absolute;
  top: calc(50% - 2px);
  right: 14px;
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  border-color: white;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-radius: 2px;
  transform: rotate(-45deg);
  content: "";
}

.section-collapsed #solutions-text {
  display: none;
}

.section-collapsed #solutions-header::after {
  top: calc(50% - 7px);
  transform: rotate(135deg);
} /**/

/* In-article or inline styling */
.serif-text {
  font: 1.08rem "Palatino", "Palatino Linotype", "Book Antiqua", MathJax_Main;
  line-height: 1.4;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a.new {
  color: var(--error-color); /* redlinks */
}

a.aops-link {
  display: inline-block;
  margin-top: 1em;
  font-style: italic;
}

a.dark-link {
  color: inherit;
  text-decoration: underline;
}

a.secret-link {
  color: inherit;
  cursor: default;
}

.source-link {
  font-weight: normal;
}

code,
pre {
  font-family: "Computer Modern Typewriter";
}

.article-text h1,
.article-text h2,
h3 {
  font: bold 1.05em "Computer Modern Bright";
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--hr-color);
}

.batch-solutions-text h2:not(.problem-heading),
.batch-solutions-text h3,
#full-text h3 {
  letter-spacing: initial;
  text-transform: initial;
  border: none;
}

.article-problem {
  break-inside: avoid;
}

.article-text dl, /* redirect disclaimers etc */
.article-text .toc,
.article-text .mw-editsection,
.article-text p:empty,
.article-text p > br:only-child {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wikitable {
  border-collapse: collapse;
  border-spacing: 0;
}

.wikitable tr:first-child > * {
  border-bottom: 1px solid var(--hr-color);
}

.wikitable th,
.wikitable td {
  padding: 0.1em 0.5em;
}

.article-text > *:last-child {
  margin-bottom: 1em;
}

.MathJax {
  display: inline-block;
  max-width: 100%;
  font-size: inherit !important;
}

mjx-math {
  white-space: initial;
}

mjx-mtext {
  line-height: 1;
}

mjx-box > mjx-mtext {
  line-height: 0;
}

.katex {
  font: normal 1em "Computer Modern Serif";
}

mjx-merror {
  font-style: italic;
  background: none;
}

mjx-merror mjx-utext {
  font-family: MJXZERO, MJXTEX;
}

.error,
.katex-error,
mjx-merror {
  color: var(--error-color);
} /**/

/* Main and footer */
main {
  flex: 1 0 auto;
  min-height: auto;
}

footer {
  padding-bottom: 1em;
  color: var(--secondary-color);
  font-style: italic;
}

.footer-line {
  margin: 0.4em 0;
}

.toggle-link {
  cursor: pointer;
} /**/

/* Loading bar */
.loading-notice {
  display: flex;
  margin: 1rem 0 var(--vertical-item-spacing);
}

.loading-bar-container {
  flex: 1;
  box-sizing: border-box;
  height: 1.2em;
  margin-left: 0.6rem;
  padding: 2px;
  border: 2px solid var(--input-slider-color);
  border-radius: 0.3rem;
}

.loading-bar {
  width: 0%;
  height: 100%;
  background: var(--input-accent-color);
  border-radius: 0.2rem;
  transition: width 0.1s linear;
} /**/

/* Breakpoint layouts */
@media (min-width: 1201px) {
  .justify-text p {
    text-align: justify;
  }
}

@media (max-width: 1500px) {
  .page-container {
    width: 1200px;
  }
}

@media (max-width: 1350px) {
  .page-container {
    width: 1125px;
  }
}

@media (max-width: 1200px) {
  .page-container {
    width: 1000px;
  }
}

@media (max-width: 1050px) {
  .page-container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .button-container {
    flex-wrap: wrap;
  }

  .button {
    flex: 1 0 100%;
    margin: 0 0 0.75rem;
  }

  .tagify:not(.input-field),
  .input-container:not(.input-container-bottom) {
    flex: 1 0 100%;
  }

  .tagify:not(.input-field) {
    flex-wrap: wrap;
    max-height: initial;
  }

  .input-field-right,
  .input-container-left {
    margin-right: 0;
  }

  .input-field-top {
    margin-bottom: var(--horizontal-item-spacing);
  }
}

@media (max-width: 800px) {
  .page-container {
    width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 550px) {
  #single-button {
    flex: 1 0 100%;
    margin-top: var(--vertical-item-spacing);
    margin-left: 0;
  }
} /**/

/* Print styling */
@media print {
  /* Font fixes */
  body {
    color: black;
    font-size: 11.5pt;
  }

  img.latex {
    transform: scale(0.9);
  } /**/

  /* Prettier */
  .section-header {
    margin: 0 0 1rem;
    padding: 0;
    color: inherit;
    font: bold 2rem "Computer Modern Sans Demi-Condensed";
    text-shadow: none;
    background: none;
  }

  .page-container,
  .problem-section {
    box-shadow: none;
  }

  .justify-text p {
    text-align: justify;
  }

  a {
    color: inherit;
  } /**/

  /* Hide things */
  .header,
  .subtitle,
  .button-container,
  .options-input,
  .notes,
  .error,
  a.aops-link,
  .section-collapsed,
  #solutions-header::after,
  .noprint {
    display: none;
  } /**/

  /* Footer */
  .footer-fixed {
    position: fixed;
    bottom: 0;
  } /**/
}

@media screen {
  .printonly {
    display: none;
  }
} /**/
